// primary
$color-primary: #2C5FFF;
$color-primary-highlight: darken($color-primary, 5%);
$color-dark: #131416;
$color-dark-highlight: #0E0F10;
$color-light: #ECECEC;

$color-warning: #C7235C;

// bg
$color-bg: $color-dark;
$color-bg-dark: #0E0F10;
$color-bg-light: #1A1B1E;
$color-page-bg: $color-bg;

// text
$color-text-regular: #929499;
$color-text-dark: #5D626F;
$color-text-white: #fff;

// advanced
$color-card-bg: #000102;
$color-card-blue-corner: #243643;
$color-card-text: #A0A2A6;

// cards
$color-card-reflex-bg: #000102;
$color-card-reflex-corner: #243643;