// element sizes
$header-height: 0px;

// border radius
$border-radius-default: 20px;
$border-radius-dropdown: 10px;
$border-radius-button: 16px;
$border-radius-checkbox: 4px;

$border-radius-large-card: 16px;
$border-radius-default-card: 12px;
$border-radius-small-card: 10px;

// box shadow
$box-shadow-default: 0 12px 12px -10px rgba(0, 0, 0, 0.15);
$box-shadow-modal: $box-shadow-default;
$box-shadow-dropdown: 0px 2px 10px 5px rgba(0, 0, 0, 0.15);
