@import "variables";

%h1 {
  font-size: 32px;
  line-height: 52px;
  font-weight: $font-weight-bold;
  color: $color-text-white;
}

%h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: $font-weight-bold;
  color: $color-text-white;
}

%dark-block {
  background: $color-bg-dark;
  color: $color-text-regular;
  border-radius: $border-radius-default;
}
